{% extends "basic_layout.html" %}
{% block body %}
<div class="container align-items-center">
        <h4>About the Data</h4>
        <p>The information contained on this website comes from datasets provided by the Austin Police Department (APD) and Austin's Office of the Police Monitor (OPM).</p>
                
        <p>Spanning from 2000 to 2016, this public database contains records of officer-involved shooting incidents and APD disciplinary memos. The officer-involved shooting 
            incident datasets currently available through Austin's Open Data Portal only cover the years from 2007 to 2016, but we have retained the previously available records that 
            cover the years from 2000 to 2006 and can make them available upon request. Disciplinary memos provide documentation for violations of APD regulations by APD personnel.
            The disciplinary memos obtained form the OPM are far from exhaustive, but do likely represent all the publicly available disciplinary memos.</p>

        <p>Slight changes to the spelling of officer names have been made to accommodate a consistent appearance. Where there is no unique identifying employee information 
            and it is ambiguous whether officers with the same name are the same individual, this database assumes that the officers are different until further information 
            is received. No other editing of the city’s original datasets has taken place.</p>
</div>
{% endblock %}
   
