{% extends "basic_layout.html" %}
{% block body %}
<div class="container">
    <center>
    <h4>Currently under construction. Come back soon!</h4>
    <!-- <div>
        <form role="form" method='POST' action='/'>
            <div class="form-row align-items-center">
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="search-box" placeholder="Search inside APD's disciplinary memos...">
                </div>
                <div class="col-sm-4">
                    <button type="submit" class="form-control">Submit</button>
                </div>
                <small id="searchHelpBlock" class="form-text text-muted">
                        Search through Austin Police Department records in which officers are written-up for misconduct.
                </small>
            </div>
        </form>
        <br>
            {% for error in errors %}
                <h4>{{ error }}</h4>
            {% endfor %}
    </div> -->
    <div id="dashboard">
        <div class="col-auto"></div>
            <select class="form-control vis-menu" id="chart_id" autofocus>
                
            </select>
        </div>
        <br>
        <div id="chart">
            
        </div>
        <small id="chartHelpBlock" class="form-text text-muted">
                Help goes here.
        </small>
    </div>
    <br><br><br>
    </center>
</div>
{% endblock %}
   
