<!DOCTYPE html>
<html>
  <head>
    <title>Austin-CPDP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Open+Sans:300,400" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chartvis.css') }}">
  </head>
  <body id="topofpage">  
    <div class="topnav">
        <a href="\" id="active">austin citizens police data project</a>
        <a href="#" class="pullRight">contact</a>
        <a href="#" class="pullRight">faq</a>
        <a href="#" class="pullRight">about the data</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
    <div class="container">
        <center>
            <h3>This site is currently under construction. Please come back soon.</h3>
        </center>
        </div>
    <div class="footer">
        <a href=#topofpage>back to top</a>
        <a href="#">legal notice</a>
    </div>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>        
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <!-- <script src="{{ url_for('static', filename='main.js') }}"></script> -->
    <script src="{{ url_for('static', filename='chartvis.js') }}"></script>
    </body>
</html>
